$border-primary-color: #05b712;
$border-secondary-color: #173c19;
$bgr-primary-color: black;
$bgr-secondary: #1c1b1b;
$bgr-third-color: #323131; //img 
$bgr-fourth-color: #373737; //input and output 
$line-primary-color: #828282;
$line-secondary-color: #284b2d;
$text-color: white;