.accounts {
    background-color: #fff;
    padding: 40px;
    &-header {
        margin-bottom: 30px;
        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }
    &-title {
        color: '#00E7AA';
        margin-bottom: 20px;
    }
    &-filter {
        // width: 90%;
        display: flex;
        align-items: center;
        select {
            width: 130px;
            margin: 0 10px;
        }
    }
    &-status {
        display: flex;
        align-items: center;
        select {
            width: 130px;
            margin: 0 10px;
        }
    }
}
