$border-primary-color: #05b712;
$border-secondary-color: #173c19;
$bgr-primary-color: black;
$bgr-secondary: #1c1b1b;
$bgr-third-color:#323131;
$line-color: #828282;

.border-b {
    border-bottom: 2px solid $border-primary-color;
}